* {
    margin:0px;
    padding:0px;
}

.main{
    margin:50px;
}

.header{
    position: relative;
    height: 80px;
}

.logo{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    margin:auto 0px;
    height: fit-content;
    width: fit-content;
}

.logo img{
    width: 120px;
}

.nav{
    position: absolute;
    inset: 0px;
    margin:auto;
    width: fit-content;
    height: fit-content;
}

.nav-item{
    display: inline;
    margin:0px 20px;
}

.button-group{
    position: absolute;
    top:0px;
    bottom: 0px;
    right:0px;
    margin:auto 0px;
    height: fit-content;
    width: fit-content;
}

.button-group > img{
    margin:0px 10px;
}

.content{
    margin-top:180px;
    width: 60%;
}

.heading{
    font-size: 70px;
}

.discover{
    margin:50px 0px;
}

.function{
    display: inline;
}

.feed{
    width: 50px;
}

.care{
    width: 40px;
}

.light{
    width: 25px;
}

.about{
    display: inline-block;
    width: 200px;
}

.about-para{
    font-size: 10px;
}