@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allerta&display=swap');

* {
    margin:0px;
    padding:0px;
}

body{
    background-image: url('../assets/6_folwer_cut.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y:bottom;
    background-color: #F4F3F8;
}

.main{
    margin:50px;
}

.header{
    position: relative;
    height: 80px;
}

.logo{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    margin:auto 0px;
    height: fit-content;
    width: fit-content;
}

.logo img{
    width: 120px;
}

.nav{
    position: absolute;
    inset: 0px;
    margin:auto;
    width: fit-content;
    height: fit-content;
}

.nav-item{
    display: inline;
    margin:0px 40px;
}

.nav-link{
    text-decoration: none;
    color:#000000;
    font-family: 'Allerta';
}

.nav-item.active{
    border-bottom: 2px solid #1f1f1f;
}

.button-group{
    position: absolute;
    top:0px;
    bottom: 0px;
    right:0px;
    margin:auto 0px;
    height: fit-content;
    width: fit-content;
}

.button-group > img{
    margin:0px 10px;
}

.content{
    margin-top:130px;
    width: 60%;
    
}

.heading{
    font-size: 70px;
    font-family: 'Abel';
}

.para{
    font-size: 20px;
    font-family: 'Abel';
}

.discover{
    margin:50px 0px;
}

.discover  div{
    width:180px;
    padding:20px 30px;
    background-color: #466D50;
    border:none;
    border-radius: 40px;
    color:#ffffff;
    font-family: 'Allerta';
    font-size: 30px;
}

.arrow-right{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top:3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(45deg);
}

.function{
    display: inline;
    font-family: 'Allerta';
}

.feed{
    width: 50px;
}

.care{
    width: 40px;
}

.light{
    width: 25px;
}

.about{
    display: inline-block;
    width: 200px;
}

.about-para{
    font-size: 10px;
}